services:
  kafka:
    image: apache/kafka:latest
    container_name: zely
    ports:
      - "9094:9094" # External access (Node app)
      - "9092:9092" # Internal Docker network (kafka-ui)
      - "9093:9093" # Controller
    volumes:
      - ./server.properties:/opt/kafka/config/kraft/server.properties:ro
    command: >
      sh -c "
        /opt/kafka/bin/kafka-storage.sh format --ignore-formatted --cluster-id ISD9nLq1QYq9v9xJf9J3PA --config /opt/kafka/config/kraft/server.properties &&
        /opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/kraft/server.properties
      "
    restart: unless-stopped

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: zely-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: fintech-cluster
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9094
      KAFKA_CLUSTERS_0_KRAFT_MODE: "true"
    depends_on:
      - kafka


      # version: "3.9"

# services:
#   kafka:
#     image: apache/kafka:latest
#     container_name: zely-kafka
#     ports:
#       - "9094:9094" # External access (Node app)
#       - "9092:9092" # Internal Docker network
#       - "9093:9093" # Controller
#     volumes:
#       - ./server.properties:/opt/kafka/config/kraft/server.properties:ro
#     command: >
#       sh -c "
#         /opt/kafka/bin/kafka-storage.sh format
#         --ignore-formatted
#         --cluster-id ISD9nLq1QYq9v9xJf9J3PA
#         --config /opt/kafka/config/kraft/server.properties &&
#         /opt/kafka/bin/kafka-server-start.sh
#         /opt/kafka/config/kraft/server.properties
#       "
#     restart: unless-stopped

#   mongo:
#     image: mongo:6.0
#     container_name: zely-mongo
#     command:
#       [
#         "--replSet",
#         "rs0",
#         "--bind_ip_all",
#         "--unixSocketPrefix="
#       ]
#     ports:
#       - "27017:27017"
#     volumes:
#       - mongo_data:/data/db
#     restart: unless-stopped

#   connect:
#     image: debezium/connect:2.5
#     container_name: zely-connect
#     depends_on:
#       - kafka
#       - mongo
#     ports:
#       - "8083:8083"
#     environment:
#       BOOTSTRAP_SERVERS: kafka:9092
#       GROUP_ID: connect-cluster
#       CONFIG_STORAGE_TOPIC: connect_configs
#       OFFSET_STORAGE_TOPIC: connect_offsets
#       STATUS_STORAGE_TOPIC: connect_statuses
#     volumes:
#       - ./mongo-outbox-connector.json:/connector.json
#     restart: unless-stopped

#   kafka-ui:
#     image: provectuslabs/kafka-ui:latest
#     container_name: zely-ui
#     ports:
#       - "8080:8080"
#     environment:
#       KAFKA_CLUSTERS_0_NAME: fintech-cluster
#       KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
#       KAFKA_CLUSTERS_0_KRAFT_MODE: "true"
#     depends_on:
#       - kafka
#     restart: unless-stopped

# volumes:
#   mongo_data:

