services:
  kafka:
    image: apache/kafka:latest
    container_name: zely
    ports:
      - "9094:9094" # External access (Node app)
      - "9092:9092" # Internal Docker network (kafka-ui)
      - "9093:9093" # Controller
    volumes:
      - ./server.properties:/opt/kafka/config/kraft/server.properties:ro
    command: >
      sh -c "
        /opt/kafka/bin/kafka-storage.sh format --ignore-formatted --cluster-id ISD9nLq1QYq9v9xJf9J3PA --config /opt/kafka/config/kraft/server.properties &&
        /opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/kraft/server.properties
      "
    restart: unless-stopped

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: zely-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: fintech-cluster
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9094
      KAFKA_CLUSTERS_0_KRAFT_MODE: "true"
    depends_on:
      - kafka
